.events{
    height: auto;
    text-align: left;
    padding: 5% 6%;
    position: relative;
    color: #333333;
    background-color: #ecfaff;
}

.events-heading{
    color: #008eb0;
    font-size: 40px;
}

.events-subheading{
    margin-bottom: 0;
    font-size: 26px;
}

.caraousel{
    /* position:relative; */
    width: 60%;
}

@media screen and (max-width: 950px) {
    .caraousel{
        width: 80%;
    }
}

@media screen and (max-width: 850px) {
    .caraousel{
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
    }
}