.team{
    height: auto;
    text-align: left;
    padding: 5% 6%;
    position: relative;
    color: #333333;
    background-color: #ecfaff;
}

.team-heading{
    color: #008eb0;
    font-size: 40px;
}

.team-styling-dots{
    float: right;
    position: absolute;
    top: 12%;
    right: 5%;
}

.team-styling-dots .team-single-dot{
    height: 30px;
    position: absolute;
    width: 30px;
    background-color: #99d2df;
    border-radius: 100%;
    margin: -40px 20px;
}

.dot-one{
    right: -10px;
}
.dot-two{
    right: 30px;
}
.dot-three{
    right: 70px;

}

.card-box{
    position: relative;
    padding: 2rem 0 0 0;
    height: 20rem;
    width: 15rem;
    background-color: #80C6D7;
}

.rounded-circle{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin: 0 auto 0 auto;
    background-color: white;
}

.nam{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width:6rem;
    margin: 0.5rem auto 0 auto;
}
.desc, .desc-label{
    font-weight: lighter;
    text-align: center;
    margin: 0 auto;
}

.desc{
    width: 13rem;
    margin: 0.5rem auto 0 auto;
    color: white;
    font-size: small;
}

.top-brace{
    position: absolute;
    top: 14rem;
    font-size: 2rem;
    left: 1rem;
    color: white;
}

.bottom-brace{
    position: absolute;
    top: 19rem;
    right: 1rem;
    font-size: 2rem;
    color: white;
    font-weight: lighter;
}



body{
    font-family: tahoma;
    overflow-x: hidden;
}

.hi-slide{
    position: relative;
    width: 754px;
    height: 292px;
    margin: 115px auto 0;
}

.hi-slide .hi-next,
 .hi-slide .hi-prev
{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #ecfaff;
    color: black;
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
}

.hi-slide .hi-next:hover,
 .hi-slide .hi-prev:hover
{
    opacity: 1;
    background-color: #80C6D7;
}

.hi-slide .hi-prev{
    left: -200px;
}

.hi-slide .hi-next{
    right: -200px;
}


.hi-slide > ul{
    list-style: none;
    position: relative;
    width: 754px;
    height: 292px;
    margin: 0;
    padding: 0;
}

.hi-slide > ul > li{
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 147px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid white;
    background-color: #333;
    cursor: pointer;
}

.hi-slide > ul > li > img{
    width: 100%;
    height: 100%;
    background-position: center;
}