.about{
    height: auto;
    text-align: left;
    padding: 5% 6%;
    position: relative;
    color: #333333;
    background-color: #ecfaff;
}

.about-heading{
    color: #008eb0;
    font-size: 40px;
}

.about-subheading{
    margin-bottom: 0;
    font-size: 26px;
}

.about-para {
    max-width: 30%;
    margin-right: 3%;
    display: inline-flex;
    word-break: break-all;
}

.about-styling-dots{
    float: right;
    position: absolute;
    bottom: 12%;
    right: 5%;
}

.about-styling-dots .single-dot{
    height: 30px;
    width: 30px;
    background-color: #99d2df;
    border-radius: 100%;
    margin: 10px;
}

@media screen and (max-width: 850px) {
    .about-para{
        max-width: 35%;
    }
}

@media screen and (max-width: 780px) {
    .about-para{
        max-width: 40%;
    }

    .about-heading{
        font-size: 35px;
    }

    .about-subheading{
        font-size: 23px;
    }
}

@media screen and (max-width: 575px) {
    .about-heading{
        font-size: 30px;
    }

    .about-subheading{
        font-size: 20px;
    }
}

@media screen and (max-width: 550px) {
    .about-para{
        max-width: 100%;
    }

    .about-styling-dots{
        position: relative;
        bottom: 0;
        right: 0; 
        float: none;
        align-items: center;
        text-align: center;
    }

    .about-styling-dots .single-dot{
        display: inline-flex;
        height: 20px;
        width: 20px;
    }
}

@media screen and (max-width: 420px) {
    .about-styling-dots .single-dot{
        height: 16px;
        width: 16px;
        margin: 7px;
    }
}

@media screen and (max-width: 325px) {
    .about-heading{
        font-size: 27px;
    }

    .about-subheading{
        font-size: 18px;
    }

    .about-para{
        font-size: 15px;
    }

    .about-styling-dots .single-dot{
        height: 13px;
        width: 13px;
        margin: 6px;
    }
}

