.home {
    width: 100%;
    height: 600px;
    padding-top: 170px;
}

.home .mask{
    background-image: url("./../../../public/img/IIT_GOA_BG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: brightness(40%);
    width: 100%;
    height: 100%;
    justify-content: center;
}

.login-form{
    width: 100%;
    position: absolute;
    top: 350px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 19px;
}

.login-form input{
    border-radius: 15px;
    border: none;
    width: 250px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 17px;
}

.login-form label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 20px;
  }

.login-button {
    color: #ffffff;
    background-color: #008eb0;
    border-radius: 15px;
    height: 38px;
    width: 120px;
    border: none;
    font-size: 18px;
    margin-left: 22px;
    margin-top: 10px;
}

@media screen and (max-width: 1150px) {
    .home {
        padding-top: 140px;
        height: 500px;
    }
    .login-form{
        top: 300px;
    }
}

@media screen and (max-width: 940px) {

    .home {
        padding-top: 120px;
        height: 500px;
    }
    .login-form{
        top: 260px;
    }

    .login-form input{
        font-size: 15px;
        width: 200px;
        padding: 8px;
    }

    .login-form .login-button{
        width: 100px;
        margin-left: 55px;
    }
}

 @media screen and (max-width: 860px) {
    .home {
        padding-top: 120px;
        height: 400px;
    }
    .login-form{
        top: 230px;
    }
    .login-form input{
        padding: 5px 10px;
    }
    .login-form .login-button{
        font-size: 16px;
        height: 30px;
    }
}


@media screen and (max-width: 730px) {
    .home{
        padding-top: 80px;
        height: 350px;
    }
    .login-form{
        top: 180px;
        right: 20px;
    }
    .login-form label{
        margin-right: 10px;
    }
    .login-form .login-button{
        margin-left: 40px;
    }
}



@media screen and (max-width: 550px) {
    .home{
        padding-top: 50px;
        height: 270px;
    }

    .login-form {
        top: 140px;
        font-size: 15px;
        right: 30px;
    }

    .login-form input{
        width: 150px;
    }

    .login-form .login-button{
        margin-left: 70px;
        font-size: 14px;
        height: 25px;
        width: 80px;
    }
}

@media screen and (max-width: 420px) {
    .home{
        padding-top: 50px;
        height: 230px;
    }

    .login-form {
        top: 120px;
        font-size: 14px;
    }

    .login-form input{
        width: 140px;
        margin-bottom: 10px;
    }

    .login-form label{
        font-size: 13px;
    }

    .login-form .login-button{
        margin-top: 5px;
        margin-left: 80px;
        font-size: 13px;
    }
}

@media screen and (max-width: 330px) {
    .home{
        padding-top: 40px;
        height: 220px;
    }

    .login-form {
        top: 100px;
        font-size: 10px;
        right: 40px;
    }

    .login-form input{
        width: 130px;
        padding: 2px 7px;
        height:auto;
    }

    .login-form .login-button{
        margin-left: 95px;
    }
}

@media screen and (max-width: 305px) {
    .home{
        padding-top: 40px;
        height: 200px;
    }

    .mask {
        filter: brightness(100%)!important;
    }

    .login-form{
        display: none;
    }
}

@media screen and (max-width: 240px) {
    .home{
        padding-top: 40px;
        height: 160px;
    }
}

@media screen and (max-width: 180px) {
    .home{
        padding-top: 40px;
        height: 120px;
    }
}

