@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.navbar{
    z-index: 1;
    font-family: 'Lato', sans-serif;
    /* position: fixed;
    width: 100%; */
}

.upper-navbar{
    background-color: #008EB0;
    display: inline-flex;
    width: 100%;
    color: #fff;
    align-items: center;
}

.left-content{
    padding: 1% 0% 1% 5%;
    display: inline-flex;
    align-items: center;
    width: 50%;
}

.right-content{
    display: inline-flex;
    align-items: center;
    width: auto;
}

.logo-navbar{
    margin-left: 20px;
}

.logo-navbar img{
    height: 100px;
    left: 0px;
}

.institute-name{
    padding: 0% 2%;
    width: auto;
    font-size: 18px;
    height: auto;
    border-right: solid #fff;
    border-right-width: 5px;
}

.institute-name h2{
    margin: 0;
}

.alumni-heading{
    padding: 0% 2%;
    font-size: 18px;
}

.navbar-profile{
    background-color: #f4f6f8;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 80px;
    margin-left: auto;
    margin-right: 5%;
    color: black;
}

.navbar-profile img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

.navbar-profile p{
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}

.navbar-name{
    color: #333333;
}

.navbar-degree{
    color: #4d4d4d;
}

.lower-navbar{
    background-color: #b2dde7;
    /* padding: 1% 5%; */
    text-align: left;
}

.navbar-list{
    padding: 1% 6.5%;
    display: inline-flex;
    width: 60%;
    text-align: left;
}

.navbar-list a, .navbar-button a{
    /* margin: 0 7%; */
    margin: 0 auto 0 0;
    text-decoration: none;
}

.navbar-list a{
    color: #008EB0;
}

.navbar-button{
    padding: 1% 4%;
    margin-right: 5%;
    float: right;
    right: 0%;
    height: 100%;
    text-decoration: none;
    background-color:#80c6d7;
}

.navbar-button a{
    color: #fff;
}